<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome - Rent A Ride</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site/site.css') }}">
</head>
<body >
    <section class="container-fluid hero__section">
        <!-- Sticky menu - Desktop/Tablet full width -->
        <!-- Grid could give a lot more control but we can try to FLEX it! why not! -->
        <header class="row">
            <!-- Logo 3-->
            <div class="col-3">
                <a href="">
                    Rent <span class="accent-text">Ride</span>
                </a>
            </div>

            <!-- Navigation 7-->
            <nav class="header__nav col-7">
                <a href="" class="nav-item">Home</a>
                <a href="" class="nav-item">How it Works</a>
                <a href="" class="nav-item">Rental Deals</a>
                <a href="" class="nav-item">Why Choose Us</a>
                <a href="" class="nav-item">Testimonials</a>
            </nav>

            <!-- Header CTA 2-->
            <div class="col-2 text-center">
                <button class="cta__button">Book Now</button>
            </div>
        </header>

        <!-- Hero Image and Text with CTA full width-->
        <!-- TODOS -->
        <!-- Two Column Grid on Desktop/ Tablet - Image as background for mobile -->
        <div class="hero__content container-fluid">
            <div class="row">
                <div class="col-4">
                    <h3>
                        Find, book, and rent a car in <span class="accent-text">easy</span> steps.
                    </h3>
                    <p>With a few steps, you're sure to be on your way! </p>
                    <button class="cta__button">Book Now</button>
                </div>
                <div class="col-8">
                    <img class="" src="{{url_for('static', filename='images/heroimg.png')}}" alt="">
                </div>
            </div>
        </div>

    </section>


    <section class="booking__process container">
        <div class="text-center">
            <h2>How it works</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus iste ad eius eligendi quia modi aspernatur eos esse temporibus? Sunt molestias nihil quod dolores nisi distinctio, praesentium vitae natus quibusdam?</p>
        </div>
        <!-- So the trick we can do is make these lines also a column and use
        transforms to achieve other rotations -->
        <div class="row">
            <div class="text-center col">
                <img src="{{ url_for('static', filename='images/car.png') }}" alt="">
                <h4>Choose a Car</h4>
                <p></p>
            </div>

            <div class="text-center col">
                <img src="{{ url_for('static', filename='images/date.png') }}" alt="">
                <h4>Pick a Date</h4>
                <p></p>
            </div>

            <div class="text-center col">
                <img src="{{ url_for('static', filename='images/book.png') }}" alt="">
                <h4>Book your car</h4>
                <p></p>
            </div>
        </div>
    </section>

    <section class="rental__deals container-fluid">
        <div class="container text-center">
            <h2>Popular rental deals</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos tenetur nesciunt fuga corporis, voluptatibus vel deserunt, natus, praesentium voluptas iure ea culpa modi magnam corrupti. Earum doloremque fuga nemo eius.</p>
        </div>
        <div class="mb-3 container">
            <div class="row">
                <nav>
                    <ul class="nav nav-pills nav-fill">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#">Popular</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Large Cars</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Small Cars</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link">Exclusive Cars</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="cars row">
            {% for i in range(5) %}
            <div class="col-3">
                <div class="card car__listing">
                    <div class="card-header bg-transparent">Pricing/Rate</div>
                    <div class="card-body">
                        <img class="card-img-top" src="{{ url_for('static', filename='images/heroimg.png') }}" alt="">
                    </div>
                    <div class="card-footer bg-transparent text-end">
                        <button class="cta__button">View</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="text-center">
            <button type="button">Show more</button>
        </div>
    </section>

    <section class="container choose__us">
        <div class="text-center">
            <h2>Why choose us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos tenetur nesciunt fuga corporis, voluptatibus vel deserunt, natus, praesentium voluptas iure ea culpa modi magnam corrupti. Earum doloremque fuga nemo eius.</p>
        </div>
        <div class="row">
            <div class="col-6">
                <img class="" src="{{url_for('static', filename='images/choose.png')}}" alt="">
            </div>
            <div class="d-flex align-items-start flex-column col-6">
                <div class="d-flex align-items-start">
                    <img src="{{url_for('static', filename='images/call.png')}}" alt="">
                    <div class="d-flex flex-column">
                        <h4>Customer Support</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias animi qui, ipsum tempore adipisci iure velit tenetur asperiores ea quos dolore dolores reprehenderit suscipit. Neque natus libero harum voluptates dicta!</p>
                    </div>
                </div>

                <div class="d-flex align-items-start">
                    <img src="{{url_for('static', filename='images/call.png')}}" alt="">                    <div class="d-flex flex-column">
                        <h4>Best Price Guaranteed</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, suscipit! Omnis, iure! Sint dolores accusantium eligendi quam quaerat aliquid deleniti excepturi dolore et cumque perspiciatis consequatur nulla, vitae beatae porro.</p>
                    </div>
                </div>

                <div class="d-flex align-items-start">
                    <img src="{{url_for('static', filename='images/call.png')}}" alt="">                    <div class="d-flex flex-column">
                        <h4>Diverse Range of Cars</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, magnam fugit ex quam mollitia architecto sunt dignissimos nisi enim, aliquam earum error esse exercitationem neque nam tenetur repudiandae? Nemo, delectus!</p>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <section class="container">
        <div class="d-flex justify-content-between">
            <div><img src="{{url_for('static', filename='images/call.png')}}" alt=""></div>
            <div><img src="{{url_for('static', filename='images/call.png')}}" alt=""></div>
            <div><img src="{{url_for('static', filename='images/call.png')}}" alt=""></div>
            <div><img src="{{url_for('static', filename='images/call.png')}}" alt=""></div>
            <div><img src="{{url_for('static', filename='images/call.png')}}" alt=""></div>
        </div>
    </section>
    
    <script src="{{url_for('static', filename='css/bootstrap/bootstrap.min.js')}}"></script>
</body>
</html>